@CHARSET "UTF-8";
 
main header, main article, main footer, main section{
	border: 1px;
}
main header {
	width: 100%;
	background-color: Teal ;
	margin: 0 auto;
	height: 80px;
}
main article {
	width: 90%;
	height: 150px;
	background-color:green;
	margin:0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
main footer {
	width: 90%;
	margin:0 auto;
	
}
#left-footer {
	width: 48%;
	background-color: purple;
	float: left;
	height: 30px;
	
}
#right-footer {
	width: 48%;
	background-color: blue;
	float: right;
	height: 30px;
}
