@CHARSET "UTF-8";

main > *{
	border: 1px;
	width: 100%;
	margin: 0 auto;
}

#header {
	background-color: DarkGoldenRod;
	color: white;
	height: 200px;
}

#main-content {
	display: inline-block;
	width: 100%;
	margin: 0 auto;
}

#nav > p {
	font-size: 32px;
	text-align: center;
}

#nav {
	width: 19.8%;
	height: 500px;
	background-color: #990000;
	color: white;
	float: left;
	font-size: 20px;
}

#article > h3 {
	font-size: 32px;
}

#article {
	width: 60.4%;
	height: 500px;
	background-color: LemonChiffon; 
	float: left;
	
}

#aside {
	font-size: 32px;
	width: 19.8%;
	height: 500px;
	background-color: DarkOliveGreen;
	float: left;

}

#footer {
	
	width: 100%;
	height: 50px;
	clear: both;
	background-color:DimGray; 
}
